
RewriteEngine on

RewriteCond %{HTTP_HOST} ^xn\-\-\-\-ylbfkjifhbgysfdtgxrl\.gr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.xn\-\-\-\-ylbfkjifhbgysfdtgxrl\.gr$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ "http\:\/\/www\.vapeland\.gr\/$1" [R=301,L]
